<div class="row problem-overview">

    <div class="page-header col-md-12">
        <h1>Suche und Übersicht</h1>
    </div>

    <div class="col-md-12 problem-overview--data">
        <div class="btn-group">
            <button type="button" class="btn btn-default active">Live Daten</button>
            <button type="button" class="btn btn-default">Daten</button>
        </div>
    </div>

    <div class="col-md-12 problem-overview--search-form">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search problem">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Neue Suchanfrage</button>
        </form>
    </div>

    <app-table-overview [source]="problems" class="problem-overview--list"></app-table-overview>

</div>